{% extends "base.html" %}


{% block content %}
    
    
<h1>welcome to log in page</h1>
{% load crispy_forms_tags %}
<form style='width: 50%; margin:auto;' novalidate method='POST'>
<!-- {{ form|crispy }} -->
{% csrf_token %}

{% if form.non_field_errors %}

    {% for er in form.non_field_errors %}
    
        <p class='bg-danger text-white p-3'>{{er}}</p>
    
    {% endfor %}



{% endif %}




{% for fm in form %} 
    
    {{fm.label_tag}}
    
    {{fm}}

    {{fm.errors|striptags}} 
  
  {% endfor %}
  <br>
  <button type="Submit" class="btn btn-warning">Log in</button>
</form>

{% endblock content %}

